@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #80daf5;
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: linear-gradient(to bottom, #40e0d0, #2ea89c);
  height: 200px;
  width: 100%;
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 4em;
}

header p {
  font-weight: bolder;
  font-size: 14px;
}

.menu {
  background-color: #2ea89c;
  padding-bottom: 20px;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #000;
  font-weight: bold;
}

.menu a:hover {
  color: #fff;
}

main {
  background-color: white;
  margin: 0px 10%;
  padding: 30px;
  box-shadow: 3px 3px 8px #00000048;
}

main h1 {
  font-weight: normal;
  text-align: left;
}

main h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 20px;
}

main p {
  line-height: 2em;
  margin: 20px 0;
}

div.imagens {
  align-items: center;
}

img {
  padding: 10px;
  display: block;
  margin: auto;
}

.extra {
  margin: 30px;
  padding: 20px;
  background-color: #40e0d0;
  border-radius: 5px;
}

.extra h2 {
  text-align: center;
  background-color: #2ea89c;
  margin: -20px;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}

.extra p {
  padding: 10px;
  font-weight: bolder;
}

.extra ul {
  list-style: inside;
}

.extra li {
  font-weight: bolder;
  text-align: justify;
  cursor: pointer;
  line-height: 2em;
}

.extra li:hover {
  text-decoration: underline;
}

footer {
  background-color: #2ea89c;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {

    body {
        overflow-x: hidden;
    }
    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 13px;
        max-width: 300px;
        margin: 0 auto;
    }

    main img {
        max-width: 230px;
    }

    main .extra {
        margin: 5px;
    }
}
